.img>img {
  max-width: 100%;
}

ul.contact-list{
  margin: 1.5em 0;
  list-style: none;
  
}

ul.contact-list>li{
  font-size: 1.2em;
  margin: 1em 0;
  color: rgb(18,8,69);
  
}



.form-style-6{
	margin:0;
	
}

.form-style-6 input[type="text"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 textarea,
.form-style-6 select 
{

	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
  border: 0;
	border-bottom: 1px solid rgb(108,99,255);
	padding: 3%;
	color: rgb(18,8,69);
	font-family:  'Montserrat', sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	
	padding: 3%;
	border-bottom: 2px solid rgb(108,99,255);
}

.form-style-6 button{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: rgb(108,99,255);
	border-bottom: 2px solid rgb(78, 69, 243);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: rgb(18,8,69);
  border-radius: 10px;
}

.form-style-6 button>i {
  color: #fff;
  font-size: 2em;
}

.form-style-6 button:hover{
	filter: brightness(90%);
}

.form-style-6 button:active{
	filter: brightness(80%);
  transform: translateY(2px);
}

@media screen and (min-width: 1264px) {
	.contact-container {
		align-items: flex-start;
		margin: 2%;
	}
	ul.contact-list>li{
		font-size: 1.5em;
	}
}